.padding {
    padding: 25px;
}

.task-content .list-group li {
    padding: 15px 20px 12px 20px;
    cursor: pointer;
}

.task-content .list-group li:hover {
    background: #e2e6ea;
}

body {
    background: #e2e6ea;
}

.col-md-10 {
    background: #ffffff;
}

strong {
    padding-right: 5px;
}

.navbar {
    padding-top: 10px;
    padding-right: 10px;
    margin: 5px;
}
